<a href="https://colab.research.google.com/github/Tabeaz/cs-tutoring/blob/master/Vorlesung02_section2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 2

# Section 2: A short recap of the Python basics (variable, assignment, types, arithmetic, input, output)

Hint: All the examples and explanations from this second part of today's lecture can be found in chapter 2 of the book.

##  2.1 Variables and Assignment Statements

In [ ]:
X = 20
x = 15
y = 1
print (x + y + X

36

In [ ]:
x = 7

* Preceding snippet is a **statement**. 
* Specifies a task to perform. 
* Preceding statement creates `x` and uses the **assignment symbol (`=`)** to give `x` a value.

In [ ]:
y = 3

### Adding Variable Values and Viewing the Result

In [ ]:
X = 20
x = 25
y = 1
x + y + X

46

### Calculations in Assignment Statements

In [ ]:
print (x + y)

26

* **assignment symbol (`=`)** is not an operator

In [ ]:
total

### Python Style
* The _Style Guide for Python Code_ helps you write code that conforms to Python’s coding conventions. 
* Recommends inserting one space on each side of the assignment symbol `=` and binary operators like `+` to make programs more readable.

### Variable Names
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but may not begin with a digit. 
* Python is _case sensitive_.

### Types
* Each value in Python has a type that indicates the kind of data the value represents. 
* You can view a value’s type, with the **`type` built-in function**.

In [ ]:
type (10.5)

float

In [ ]:
type(10.5)

* A function performs a task when you call it by writing its name, followed by **parentheses, `()`**. 
* The parentheses contain the function’s **argument**—the data that the type function needs to perform its task.

## 2.2 Arithmetic
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

* [All operators and their precedence](https://docs.python.org/3/reference/expressions.html#operator-precedence)

### Multiplication (`*`)
* Python uses the **asterisk (`*`) multiplication operator**:

In [ ]:
7 * 4

28

### Exponentiation (`**`)
* The **exponentiation (&ast;&ast;) operator** raises one value to the power of another.

In [ ]:
2 ** 10

1024

* To calculate the square root, use the exponent `1/2` or `0.5`.

In [ ]:
9 ** (1 / 2)

3.0

But of course, Python has a library and a function to calculate the square root, too.

In [ ]:
# Import math Library
import math

# Return the square root of the argument
math.sqrt(9)

3.0

### True Division (`/`) vs. Floor Division (`//`)
* **True division (`/`)** divides a numerator by a denominator and yields a floating-point number.

In [ ]:
7 / 4

1.75

* **Floor division (`//`)** divides a numerator by a denominator, yielding the highest _integer_ that’s not greater than the result.
* **Truncates** (discards) the fractional part.

In [ ]:
7 // 4

1

In [ ]:
#floor division gibt die ganze Zahl, die nicht grösser ist als (7/4)

In [ ]:
3 // 5

0

In [ ]:
14 // 7

2

* And again, the difference between **true division** and **floor division**

In [ ]:
-13 / 4

-3.25

In [ ]:
-20 / 4

-5.0

In [ ]:
#5.0 ist Gleitkommazahl. Unten ist es ganze Zahl (int).

In [ ]:
-13 // 4

-4

In [ ]:
-20 // 4

-5

In [ ]:
#-3 wäre grösser als -3.25, aber -4 ist kleiner

Floor division gives the closest integer that **is not greater** than `-3.25` — which is `-4`

In [ ]:
123 / 0
#Fehler liegt in Zeile 1

ZeroDivisionError: ignored

### Exceptions and Tracebacks (1 of 3)
* Dividing by zero with `/` or `//` is not allowed and results in an **exception**.

In [ ]:
123 / 0

ZeroDivisionError: ignored

### Exceptions and Tracebacks (2 of 3)
* Exceptions produce **tracebacks**. 
* The line that begins with `---->` shows the code that caused the exception. 
* The error message at the bottom of the traceback shows the exception that occurred, followed by a colon (:) and an error message with more information about the exception.

### Exceptions and Tracebacks (3 of 3)
* An exception occurs if you try to use a variable that you have not yet created.

In [ ]:
z + 7

NameError: ignored

In [ ]:
#habe Variable z nirgends definiert

### Remainder Operator (Modulo)
* **Remainder operator (`%`)** yields the remainder after the left operand is divided by the right operand.

In [ ]:
7 % 3
#3 passt 2 mal rein.

1

In [ ]:
#die 2 passt vollständig in die 2

In [ ]:
7.5 % 3.5
#eine gerade Zahl würde immer immer 0 Rest ergeben. Hier geht die 3.5 0.5 mal rein.

0.5

### Grouping Expressions with Parentheses
* Parentheses group Python expressions, as in algebraic expressions.

In [ ]:
10 * (5 + 3)

In [ ]:
10 * 5 + 3

### Operator Precedence Rules (1 of 2)
* Generally the same as those in algebra:
> 1. Expressions in parentheses evaluate first, so parentheses may force the order of evaluation to occur in any sequence you desire. Parentheses have the highest level of precedence. In expressions with **nested parentheses**, such as `(a / (b - c))`, the expression in the _innermost_ parentheses (that is, `b - c`) evaluates first. 
> 2. Exponentiation operations evaluate next. If an expression contains several exponentiation operations, Python applies them from right to left.

### Operator Precedence Rules (2 of 2)
> 3. Multiplication, division and modulus operations evaluate next. If an expression contains several multiplication, true-division, floor-division and modulus operations, Python applies them from left to right. Multiplication, division and modulus are “on the same level of precedence.”
> 4. Addition and subtraction operations evaluate last. If an expression contains several addition and subtraction operations, Python applies them from left to right. Addition and subtraction also have the same level of precedence.

* [Complete list of operators and their precedence](https://docs.python.org/3/reference/expressions.html#operator-precedence)

### Redundant Parentheses
* Can use redundant parentheses to group subexpressions to make an expression clearer.

### Operand Types
* If both operands are integers, the result is an integer—**except for the true-division (`/`) operator, which always yields a floating-point number**. 
* If both operands are floating-point numbers, the result is a floating-point number. 
* Mixed-type expressions produce floating-point results.

In [ ]:
type(3 + 4)
# 2 integers addieren (ganze Zahlen).

int

In [ ]:
type(3.0 + 4)
#Gleitkommazahl mit ganzer Zahl addieren --> Ergebnis gleitkommazahl, auch wenn es ein int hätte sein können.

float

In [ ]:
type(12 / 4)
#gibt ein float. Es ist nicht immer klar, was für Werte man in eine Division reinsteckt. Die Wahrscheinlichkeit ist nämlich hoch, dass keine ganze Zahl rauskommt.

float

In [ ]:
type(12 // 5)
#floor division gibt immer den ganzzahligen Anteil vor dem Komma. Es kommt also IMMER ein integer raus. Modulo?

int

# Time to do a short quiz ... on _menti.com_

In [ ]:
#Quizfragen:
#Are these variable names: 3g, Level 6, score_4?
#Antwort: Nein. Nein, weil eine mit einer Zahl beginnt.

In [ ]:
y = 3 + 6 * 2
y = Y + 3
print (y)
#Variablennamen sind case sensitive. Python kennt die Variable nicht.

NameError: ignored

## 2.3 Function `print` and an Intro to Single-and-Double-Quoted Strings
* The built-in **`print` function** displays its argument(s) as a line of text

In [ ]:
print('Welcome to Python!')
#ohne die Gänsefüsschen wäre es ein error: invalid syntax.

Welcome to Python!

* May enclose a string in double quotes (`"`).

In [ ]:
print("Welcome to Python!")

* Python programmers generally prefer single quotes. 
* When `print` completes its task, it positions the screen cursor at the beginning of the next line.

### Printing a Comma-Separated List of Items

In [ ]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

* Displays each argument separated from the next by a space.

### Printing Many Lines of Text with One Statement
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 
* `\n` represents the **newline character** escape sequence, which tells `print` to move the output cursor to the next line.

In [ ]:
print("Welcome\nto\n\n\"Python!\"")

print('Welcome\""Python!"')
#aber nutze nie single quotes und double quotes anführungszeichen. Python muss unterscheiden können, welche für was gelten. Mit backslash geht es.

Welcome
to

"Python!"
Welcome""Python!"

### Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

### Ignoring a Line Break in a Long String
* Can split a long string (or a long statement) over several lines by using the **\ continuation character** as the last character on a line to ignore the line break.

In [ ]:
print('this is a longer string \ so we 
split it over two lines')
#strings über mehrere Zeilen verteilen.

SyntaxError: ignored

* In this case, `\` is not the escape character because another character does not follow it.

### Printing the Value of an Expression

In [ ]:
print('Sum is', '7 + 3', 'oder was?')

Sum is 7 + 3 oder was?

## 2.4 Triple-Quoted Strings
* Delimited by **`"""`** or **`'''`**, but the _Style Guide for Python Code_ recommends **`"""`**. 
* Used for:
    * multiline strings
    * strings containing single or double quotes
    * **docstrings**&mdash;the recommended way to document the purposes of certain program components.

In [ ]:
#python ourccode. Am Anfang docstring: Worum geht's im file? Beschreibung unseres codes, die automatisiert ausgewertet werden kann. Triple quoted strings.

### Including Quotes in Strings (1 of 3)
* A string delimited by single quotes may include double-quote characters, but not single quotes, unless you use the `\'` escape sequence.

In [ ]:
print('Display "hi" in quotes')

In [ ]:
print('Display 'hi' in quotes')

SyntaxError: ignored

In [ ]:
print('Display \'hi\' in quotes')
#per backslash gesagt, das ist ein single quote

Display 'hi' in quotes

### Including Quotes in Strings (2 of 3)
* A string delimited by double quotes may include single quote characters, but not double quotes, unless you use the `\"` escape sequence.

In [ ]:
print("Display the name O'Brien")

In [ ]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

### Including Quotes in Strings (3 of 3)
* Triple-quoted strings may contain both single and double quotes.

In [ ]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

### Multiline Strings (1 of 2)

In [ ]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

* IPython knows that the string is incomplete because we did not type the closing `"""` before we pressed _Enter_. 
* IPython displays a **continuation prompt `...:`** at which you can input the multiline string’s next line. 
* This continues until you enter the ending `"""` and press _Enter_.

### Multiline Strings (2 of 2)

In [ ]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

* Python stores multiline strings with embedded newline characters.

In [ ]:
triple_quoted_string

#backslash n sagt: Zeilenumbruch rein.

'This is a triple-quoted\nstring that spans two lines'

## 2.5 Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

In [ ]:
#advanced TR nutzen. Quadratwurzel aus 9: Math bibliothek, square route funktion.

In [ ]:
name = input("What is your name? ")

What is your name? Cecile

In [ ]:
print(name)

Cecile

* If you enter quotes, they’re input as part of the string.

In [ ]:
name = input("What's your name? ")

What's your name? Cecile

In [ ]:
name

'Cecile'

In [ ]:
print(name)

Cecile

### Function `input` Always Returns a String

In [ ]:
value1 = input('Enter first number: ')

Enter first number: 7

In [ ]:
value2 = input('Enter second number: ')

Enter second number: 3

In [ ]:
value1 + value2

'73'

In [ ]:
#die addition hat die beiden strings verkettet. Weil value 1 + value 2. Arithmetisch nicht korrekt.

* Python “adds” the _string_ values `'7'` and `'3'`, producing the _string_ `'73'`. 
* Known as **string concatenation**.

### Getting an Integer from the User
* If you need an integer, convert the string to an integer using the built-in **`int` function**.

In [ ]:
value = input('Enter an integer: ')

Enter an integer: 10

In [ ]:
value = int(value)

#nimmt argument entgegen.

In [ ]:
value

#wenn ich 43 nicht mach, kommt es mit gänsefüsschen.

10

* Can combine `int` and `input` in one statement.

In [ ]:
another_value = int(input('Enter another integer: '))

#von innen nach aussen ausklammern.

Enter another integer: 27

In [ ]:
another_value

27

In [ ]:
value + another_value

#vorhin stand 10 im value.

37

* If the string passed to `int` cannot be converted to an integer, a `ValueError` occurs.

In [ ]:
bad_value = int(input('Enter another integer: '))

Enter another integer: 10

* Function `int` also can convert a floating-point value to an integer.

In [ ]:
int(-10.5)

-10

In [ ]:
round(-10.6)

-11

# Time to do a short quiz ... on _menti.com_

In [ ]:
#What is the output of#

print ((float('6.2') + int(3.3)))

 #antwort: 9,2: float wandelt es in gleitkommazahl um. 3.3 in integer umwandeln gibt 3. --> = 9.2 Ergebnis ist ein string: 9.2.

9.2

## 2.6 Decision Making: The if Statement and Comparison Operators
* A **condition** is a Boolean expression with the value **`True`** or **`False`**.

In [ ]:
7 > 4

True

In [ ]:
7 < 4

False

Algebraic operator | Python operator | Sample condition | Meaning 
:---- | :---- | :---- | :----
&gt;  | `>` | `x > y` | `x` is greater than `y`
&lt;  | `<` | `x < y` | `x` is less than `y`
&ge; | `>=` | `x >= y` | `x` is greater than or equal to `y`
&le; | `<=` | `x <= y` | `x` is less than or equal to `y`
= | `==` | `x == y` | `x` is equal to `y`
&ne; | `!=` | `x != y` | `x` is not equal to `y`

* Operators `>`, `<`, `>=` and `<=` have the same precedence. 
* Operators `==` and `!=` have the same precedence, which is lower than `>`, `<`, `>=` and `<=`.

* It's a syntax error when any of the operators `==`, `!=`, `>=` and `<=` contains spaces between its pair of symbols.

In [ ]:
7 > = 4

#falsch wegen abstand

SyntaxError: ignored

### Making Decisions with the if Statement: Introducing Scripts
* The **`if` statement** uses a condition to decide whether to execute a statement (or a group of statements). 
* We’ll read two integers from the user and compare them using six consecutive `if` statements, one for each comparison operator. 
* When you have many statements to execute as a group, you typically write them as a **script** stored in a file with the `.py` (short for Python) extension.

* To run this example, change to the folder containg the file `fig02_01.py`, then enter:
>```
ipython fig02_01.py
```
* In IPython interactive mode or in JupyterLab, you can use the command:
>```
run fig02_01.py
```

```python 
# fig02_01.py
"""Comparing integers using if statements and comparison operators."""

#vergleicht mit if statement. Zwei integer eingeben und vergleichen


print('Enter two integers, and I will tell you',
      'the relationships they satisfy.')

# read first integer
number1 = int(input('Enter first integer: '))

# read second integer
number2 = int(input('Enter second integer: '))

if number1 == number2:
    print(number1, 'is equal to', number2)

    #wenn es fehlschlägt, ist das nächste vlt. ausführbar usw. Er prüft nacheinander alle vergleichsoperationen, ob die bedingung irgendwo wahr ist.

if number1 != number2:
    print(number1, 'is not equal to', number2)

if number1 < number2:
    print(number1, 'is less than', number2)

if number1 > number2:
    print(number1, 'is greater than', number2)

if number1 <= number2:
    print(number1, 'is less than or equal to', number2)

if number1 >= number2:
    print(number1, 'is greater than or equal to', number2)
```

* Enter `37` and `42`

In [ ]:
 run fig02_01.py

ERROR:root:File `'fig02_01.py'` not found.

* Enter `7` and `7`

In [ ]:
 run fig02_01.py

ERROR:root:File `'fig02_01.py'` not found.

* Enter `54` and `17`

In [ ]:
run fig02_01.py

### Comments
* The hash character (**`#`**) indicates that the rest of the line is a **comment**.
* We begin each script with a comment indicating the script’s file name. 
* A comment also can begin to the right of the code on a given line and continue until the end of that line.

### Docstrings
* The _Style Guide for Python Code_ says each script should start with a docstring that explains the script’s purpose.
* Often spans many lines for more complex scripts.

### Blank Lines
* Blank lines and space characters to make code easier to read. 
* Together, blank lines, space characters and tab characters are known as **white space**. 
* Python ignores most white space.

### Splitting a Lengthy Statement Across Lines
* Typically, you write statements on one line. 
* You may spread a lengthy statement over several lines with the `\` continuation character. 
* Also can split long code lines in parentheses without using continuation characters (as in the script's first `print` statement)&mdash;this is preferred according to the _Style Guide for Python Code_.

### Reading Integer Values from the User
* We use built-in functions `input` and `int` to prompt for and read two integer values from the user.

### `if` Statements
* Each `if` statement consists of the keyword `if`, the condition to test, and a colon (`:`) followed by an indented body called a **suite**. 
* Each suite must contain one or more statements.

### Suite Indentation
* Python requires you to indent the statements in suites. 
* The _Style Guide for Python Code_ recommends four-space indents.

In [ ]:
#alles was nach dem if ausgeführt werden soll, war eingerückt. Diese Einrückung ist wichtig bei mehreren Befehlen. Gehört zum Teil der if-Prüfung. Empfehlung: 4 Leerschläge.

### Confusing == and = 
* Using the assignment symbol (`=`) instead of the equality operator (`==`) in an `if` statement’s condition is a common syntax error.

### Chaining Comparisons
* You can chain comparisons to check whether a value is in a range.

In [ ]:
x = 3

In [ ]:
1 <= x <= 5

True

In [ ]:
x = 10

In [ ]:
1 <= x <= 5

False

## 2.7 Dynamic Typing
* `7` (an integer), `4.1` (a floating-point number) and `'dog'` are all objects. 
* Every object has a type and a value.

In [ ]:
type(7)
#diese 7 ist ein Objekt. 7 ist der Wert davon.

int

In [ ]:
type(4.1)

float

In [ ]:
type('dog')

str

* An object’s value is the data stored in the object. 
* The snippets above show objects of built-in types **`int`** (for integers), **`float`** (for floating-point numbers) and **`str`** (for strings).

### Variables Refer to Objects
* Assigning an object to a variable **binds** (associates) that variable’s name to the object. 
* Can then use the variable to access the object’s value.

In [ ]:
x = 7

In [ ]:
x + 10

17

In [ ]:
x

7

* Variable `x` **refers** to the integer object containing `7`.

In [ ]:
x = x + 10

In [ ]:
x

17

### Dynamic Typing (1 of 2)
* Python uses **dynamic typing**—it determines the type of the object a variable refers to while executing your code. 
* Can show this by rebinding the variable `x` to different objects and checking their types.

### Dynamic Typing (2 of 2)

In [ ]:
type(x)

int

In [ ]:
x = 4.1

In [ ]:
type(x)

float

In [ ]:
x = 'dog'

In [ ]:
type(x)

str

In [ ]:
#Ein argument ist für eine funkrion. Die funktion macht damit etwas. Argumente sind immer objekte, die ich den funktionen übergebe.

### Garbage Collection
* Python creates objects in memory and removes them from memory as necessary. 
* When an object is no longer bound to a variable, Python can automatically removes the object from memory. 
* This process—called **garbage collection**—helps ensure that memory is available for new objects.

In [ ]:
#sind objekte, die keiner mehr braucht?

## 2.8 Basic Descriptive Statistics
* In data science, you’ll often use statistics to describe and summarize your data. 
* Here, we introduce two **descriptive statistics**:
    * **minimum**—the smallest value in a collection of values.
    * **maximum**—the largest value in a collection of values.

### Determining the Minimum of Three Values 
* Determine the minimum of three values manually in a script that prompts for and inputs three values, uses `if` statements to determine the minimum value, then displays it.

```python 
# fig02_02.py
"""Find the minimum of three values."""

number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

minimum = number1

if number2 < minimum:
    minimum = number2

    #wert überschreiben durch number 2. Wenn die 3. zahl noch kleiner ist. Dann überschreiben wir das minimum nochmal mit dem wert von 3. Dann sollte das unten rauskommen

if number3 < minimum:
    minimum = number3

print('Minimum value is', minimum)
```

* Enter `12`, `27` and `36`

In [ ]:
run fig02_02.py

* Enter `12`, `36` and `27`

In [ ]:
run fig02_02.py

* Enter `36`, `27` and `12`

In [ ]:
run fig02_02.py

In [ ]:
#wir haben mit python schon vordefinierte funktionen. min(3 werte): Gibt uns minimum raus.

* Logic of determining minimum:
    * First, assume that `number1` contains the smallest value. 
    * The first `if` statement then tests `number2 < minimum` and if this condition is `True` assigns `number2` to `minimum`. 
    * The second `if` statement then tests `number3 < minimum`, and if this condition is `True` assigns `number3` to `minimum`. 
* Now, `minimum` contains the smallest value, so we display it.

### Determining the Minimum and Maximum with Built-In Functions `min` and `max`
* Python has many built-in functions for performing common tasks. 
* **`min`** and **`max`** calculate the minimum and maximum, respectively, of a collection of values.

In [ ]:
min(36, 27, 12)

12

In [ ]:
max(36, 27, 12)

36

------
&copy;1992&ndash;2020 by Pearson Education, Inc. All Rights Reserved. This content is based on Chapter 1 of the book [**Intro to Python for Computer Science and Data Science: Learning to Program with AI, Big Data and the Cloud**](https://amzn.to/2VvdnxE).