In [1]:
from IPython import get_ipython
!jupyter nbconvert --to script assignment7_template.ipynb

[NbConvertApp] WARNING | pattern u'assignment7_template.ipynb' matched no files
This application is used to convert notebook files (*.ipynb) to various other
formats.

WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options
-------

Arguments that take values are actually convenience aliases to full
Configurables, whose aliases are listed on the help line. For more information
on full configurables, see '--help-all'.

--execute
    Execute the notebook prior to export.
--allow-errors
    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.
--no-input
    Exclude input cells and output prompts from converted document.
    This mode is ideal for generating code-free reports.
--stdout
    Write notebook output to stdout instead of files.
--stdin
    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'
--inplace
    Run nbconvert in place, overwriting the existing notebook (only
    relevant when converting to notebook format)
-y
    Answer yes to any questions instead of prompting.
--clear-output
    Clear output of current file and save in place,
    overwriting the existing notebook.
--debug
    set log level to logging.DEBUG (maximize logging output)
--no-prompt
    Exclude input and output prompts from converted document.
--generate-config
    generate default config file
--nbformat=<Enum> (NotebookExporter.nbformat_version)
    Default: 4
    Choices: [1, 2, 3, 4]
    The nbformat version to write. Use this to downgrade notebooks.
--output-dir=<Unicode> (FilesWriter.build_directory)
    Default: ''
    Directory to write output(s) to. Defaults to output to the directory of each
    notebook. To recover previous default behaviour (outputting to the current
    working directory) use . as the flag value.
--writer=<DottedObjectName> (NbConvertApp.writer_class)
    Default: 'FilesWriter'
    Writer class used to write the  results of the conversion
--log-level=<Enum> (Application.log_level)
    Default: 30
    Choices: (0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL')
    Set the log level by value or name.
--reveal-prefix=<Unicode> (SlidesExporter.reveal_url_prefix)
    Default: u''
    The URL prefix for reveal.js (version 3.x). This defaults to the reveal CDN,
    but can be any url pointing to a copy  of reveal.js.
    For speaker notes to work, this must be a relative path to a local  copy of
    reveal.js: e.g., "reveal.js".
    If a relative path is given, it must be a subdirectory of the current
    directory (from which the server is run).
    See the usage documentation
    (https://nbconvert.readthedocs.io/en/latest/usage.html#reveal-js-html-
    slideshow) for more details.
--to=<Unicode> (NbConvertApp.export_format)
    Default: 'html'
    The export format to be used, either one of the built-in formats
    ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf',
    'python', 'rst', 'script', 'slides'] or a dotted object name that represents
    the import path for an `Exporter` class
--template=<Unicode> (TemplateExporter.template_file)
    Default: u''
    Name of the template file to use
--output=<Unicode> (NbConvertApp.output_base)
    Default: ''
    overwrite base name use for output files. can only be used when converting
    one notebook at a time.
--post=<DottedOrNone> (NbConvertApp.postprocessor_class)
    Default: u''
    PostProcessor class used to write the results of the conversion
--config=<Unicode> (JupyterApp.config_file)
    Default: u''
    Full path of a config file.

To see all available configurables, use `--help-all`

Examples
--------

    The simplest way to use nbconvert is

    > jupyter nbconvert mynotebook.ipynb

    which will convert mynotebook.ipynb to the default format (probably HTML).

    You can specify the export format with `--to`.
    Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'rst', 'script', 'slides'].

    > jupyter nbconvert --to latex mynotebook.ipynb

    Both HTML and LaTeX support multiple output templates. LaTeX includes
    'base', 'article' and 'report'.  HTML includes 'basic' and 'full'. You
    can specify the flavor of the format used.

    > jupyter nbconvert --to html --template basic mynotebook.ipynb

    You can also pipe the output to stdout, rather than a file

    > jupyter nbconvert mynotebook.ipynb --stdout

    PDF is generated via latex

    > jupyter nbconvert mynotebook.ipynb --to pdf

    You can get (and serve) a Reveal.js-powered slideshow

    > jupyter nbconvert myslides.ipynb --to slides --post serve

    Multiple notebooks can be given at the command line in a couple of
    different ways:

    > jupyter nbconvert notebook*.ipynb
    > jupyter nbconvert notebook1.ipynb notebook2.ipynb

    or you can specify the notebooks list in a config file, containing::

        c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

    > jupyter nbconvert --config mycfg.py

In [0]:
import os
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [0]:
class Footballplayer:
    def __init__(self, position, rating, age, is_striker, name):
        self.position = position
        self.rating = rating
        self.age = age
        self.is_striker = is_striker
        self.name = name

In [0]:
footballplayers = [
    Footballplayer("defender", 93, 34, False, "Sergio Ramos"),
    Footballplayer("midfielder", 90, 24, False, "Dele"),
    Footballplayer("defender", 88, 28, False, "Joel Matip"),
    Footballplayer("striker", 95, 26, True, "Harry Kane"),
    Footballplayer("striker", 99, 32, True, "Lionel Messi"),
    Footballplayer("goalkeeper", 90, 26, False, "Ederson"),
    Footballplayer(None, 85, 28, False, "Fabian Schär"),  # defender
    Footballplayer("midfielder", 95, 28, False, "Kevin De Bruyne"),
    Footballplayer(None, 95, 31, True, "Sergio Agüero"),  # striker
    Footballplayer("goalkeeper", 93, 27, False, "Jan Oblak")
]

In [0]:
def create_footballplayer_list(footballplayers):
    """
    Takes a list of Player objects and creates tuples containing the information of each Footballplayer, then returns them.
    The tuple format is (name, position, rating, age, is_striker).

    :param football_players: A list of Footballplayer objects.
    :return: A list of tuples, where each tuple represents the data of one player
    """

    # your code here

In [0]:
player_lst = create_footballplayer_list(footballplayers)
player_lst

In [0]:
def create_footballplayer_df(footballplayers):
    """
    Takes a list of Footballplayer objects as tuples and creates a DataFrame containing the footballplayer data.
    It should have the following columns in the same exact order:
        Name, Position, Rating, Age, Is Striker?

    :param footballplayers: A list of tuples in the format
    :return: A DataFrame containing the data from "footballplayers" with the correct columns as specified.
    """

    # your code here

In [0]:
player_df = create_footballplayer_df(player_lst)
player_df

In [0]:
def get_footballplayer_df_dtypes(df):
    """
    Takes a DataFrame containing the footballplayer data and creates a dictionary mapping the label of each column
    to its dtype.

    :param df: The DataFrame containing the footballplayer data.
    :return: A dictionary mapping the label (name) of each column of the DataFrame to the dtype of the column.
    """

    # your code here

In [0]:
get_footballplayer_df_dtypes(player_df)

In [0]:
def replace_none_values_in_column(df, column, values):
    """
    Replaces all None values in a column of a DataFrame.

    :param df: The DataFrame.
    :param column: The column that has None values.
    :param values: The values that are being used to replace the None values.
    :return: Nothing - performs the replacement in-place.

    HINTS:
    - You can assume that the number of None values is always equal to len(values). That means you always get the
        exactly right amount of values.
    - Start by figuring out how to find the None values!
    - Use this information to select the rows where this condition holds
    - You only want to replace values in one column - find a way to select only this one column from the relevant rows
    - Lastly you can update the row values in this one column. You find the replacement values in the variable "values"
    """
    
    # your code here

In [0]:
replace_none_values_in_column(player_df, "Position", ["defender", "striker"])
player_df

In [0]:
def drop_column(df, column):
    """
    Drops a column from a DataFrame.

    :param df: The DataFrame.
    :param column: The column to be dropped.
    :return: The DataFrame without the unwanted column.
    """

    # your code here

In [0]:
player_df = drop_column(player_df, 'Is Striker?')
player_df

In [0]:
def change_column_order(df, new_order):
    """
    Applies new column order to a DataFrame.

    :param new_order: A list of the column labels in the new order.
    :return: The DataFrame wiht the columns in new order.
    """

    # your code here

In [0]:
player_df = change_column_order(player_df, ['Name', 'Rating',	'Age', 'Position'])
player_df

In [0]:
def create_stats_df(stats, footballplayers):
    """
    Takes a list of stats tuples and a dataframe of footballplayer objects and creates a DataFrame containing the footballplayer stats.
    Each tuple in the stats list belongs to a footballplayer -> the first tuple belongs to the first footballplayer in the list etc.
    
    It should have the following columns in the same exact order:
        Name, 2016/1017, 2017/2018, 2018/2019

    :param stats: A list of tuples which each tuple containing three integer values.
    :param footballplayers: A dataframe containing the footballplayers
    :return: A DataFrame containing the name from "footballplayers" and his stats with the correct columns as specified.
    """
    
    # your code here

In [0]:
stats = [
         (10,8,12),
         (15,12,5),
         (2,5,1),
         (25,17,23),
         (40,45,51),
         (0,0,0),
         (4,6,2),
         (10,12,16),
         (30,25,27),
         (0,0,0)
         ]

stats_df = create_stats_df(stats, player_df)
stats_df

In [0]:
player_df

In [0]:
def add_more_players(df, players):
    """
    Takes a list of dictionaries where each dictionary representsa a new player and adds them to the DataFrame df.
    You must not check whether the number of columns in df is the same as the number of elements in the players tuple. Just add each player as new row to the DataFrame.

    :param players: A list of tuples which each tuple representing a player
    :param df: A DataFrame to which all the players should be added.
    :return: The updated DataFrame
    """

    # your code here

In [0]:
new_players = [{
    'Name':'Cristiano Ronaldo',
    '2016/1017'	: 40,
    '2017/2018' : 50,
    '2018/2019' : 42
  },
  {
    'Name':'Neymar',
    '2016/1017'	: 35,
    '2017/2018' : 22,
    '2018/2019' : 24
  }]

stats_df = add_more_players(stats_df, new_players)

new_players = [{
    'Name':'Heu-Ming Son',
    'Rating': 87,
    'Age' : 27,
    'Position' : 'midfielder',
  },
  {
    'Name':'Denis Zakaria',
    'Rating': 86,
    'Age' : 23,
    'Position' : 'midfielder',
  }]

player_df = add_more_players(player_df, new_players)

In [0]:
player_df

In [0]:
stats_df

In [0]:
def merge_dfs(df1, df2, index, how):
    """
    Merges two DataFrames.

    :param df1: The first DataFrame.
    :param df2: The second DataFrame.
    :param index: Which column to use as index.
    :param how: How the merging should be performed.
    :return: The merge of the DataFrame.
    """
    
    # your code here

In [0]:
# just uncomment the print-statement below for any desired possibility of merge

# OUTER-merge: Take all rows of both dataframes
# print(merge_dfs(player_df, stats_df, "Name", "outer"))

# INNER-merge: Take all rows which match against the join-key
# print(merge_dfs(player_df, stats_df, "Name", "inner"))

# LEFT-merge: Take all rows from the left dataframe and those rows from the right dataframe which match against the join-key
#print(merge_dfs(player_df, stats_df, "Name", "left"))

# RIGHT-merge: Take all rows from the right dataframe and those rows from the left dataframe which match against the join-key
# print(merge_dfs(player_df, stats_df, "Name", "right"))

In [0]:
def add_mean(df, columns):
    """
    Adds a column "Mean" to a DataFrame and round the mean value to one digit.
    Each row should have a value in this column. The "Mean" for each row should be calculated over all values in that
    are in the columns from "columns".

    HINT: Be sure to specify the correct axis!

    :param df: The DataFrame.
    :param columns: The columns over which the mean should be calculated.
    :return: Nothing, add the column in-place.
    """

    # your code here

In [0]:
merged_df = merge_dfs(player_df, stats_df, "Name", "outer")
add_mean(merged_df, ['2016/1017', '2017/2018','2018/2019'])

In [0]:
# now sort the data frame in descending order based on the column Average Goals
# your code here

In [0]:
merged_df